body {
    height: 100vh;
    margin: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(15, 15, 15);
}

#container {
    display: flex;
    flex-direction: column;
    height: 70vh;
    width: min(400px, 90vw);
    background-color: #F19BA4;
    border: 1px solid rgb(255, 255, 255)
}


#calculator-screen {
    display: flex;
    flex: 0 0 30%;
    align-items: center;
    justify-content: flex-end;
    padding: 10px;
    background-color: rgba(14, 13, 34, 0.678);
}

/* buttons */

#calculator-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 5%;
    gap: 11px;
}
button {
    height: 35%;
    width: 22%;
    border: 2px solid black;
    font-size: 1.2rem;
    background-color: #9BA4F1
}
#calculator-buttons #calculate-btn {
    width: 47%;
}
#divide-btn, #multiply-btn, #add-btn, #subtract-btn {
    background-color: #A4F19B;
}
body > #container > #calculator-buttons > button:hover{
    background-color: #000000a6;
    color: white;
    border: 2px solid white;
}